@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('https://media.istockphoto.com/photos/binary-code-picture-id122204403?k=20&m=122204403&s=170667a&w=0&h=aQFFxR6xBPSSdf0lL9xkifnp-nxxV1Cjbrl9q4vzsJA=');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

